


      header {
        background-color: black;
        grid-area: header;
      }
      .navbar {
        overflow: hidden;
        background-color: #333;
      }
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: pink;
        color:black;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      main {
        background-color: #333131d8;
        min-height: calc(100vh - 54px);
        grid-area: main;
        text-align: center;
        font-size: 20px;
        background-image: url(../Images/photo-1482686115713-0fbcaced6e28.jpg) ;
        background-repeat: no-repeat;
        background-size: 100% 50%;
      
      }
    
      nav {
        background-color: white(0, 1%, 18%);
        grid-area: nav;
        
      }
      .item {
        background-color: #fff;
        color: #000;
        
      }
      

      
      input[type='text'] {
        font-size: 12px;
        padding: 6px;
        border: 1px solid #000;
        border-radius: 3px;
        color: black;
      }
      
      input[type='submit'] {
        background-color: #fff;
        color: #000;
        border-radius: 8px;
        border: none;
        padding: 5px;
      }
      
      #newItemButton {
        display: none;
        color:black;
      }
      
      #itemField {
        margin-top: 60px;
        margin-left: 10px;
        width: 60%;
        color:black;
      }
      aside {
        grid-area: aside;
      }
      .banner {
        background-color: lavender;
        grid-area: banner;
      }
      footer {
        background-color: black;
        grid-area: footer;
      }
      .geolocation {
        background-color: black; 
        grid-area: geo;
        width: 100%;
        height: 200px;
      }
         h2 , #geotitle { 
           color:black;
           text-align: center;
         }
         #button-location {
          color: black;
          font-size: 23px;
          font-weight: bold;
          text-transform: uppercase;
          background-color: white;
          margin-top:1%;
          margin-left: 42%;
          border-radius: 2%;
         }

         #button-location:hover {
           background-color: black;
           color: white;
         }

      #my-coordinates { 
        color: white;
        font-size: 24px;
        margin: 24px;
        text-align: center;
      }

      .container {
        display: grid;
        grid-template-areas: 
          "header"
          "nav"
          "main"
          "content"
          "aside"
          "banner"
          "geo"
          "footer";
      
      }
      .calculator {
        margin-top: 10px;
        width: 250px;
        height: 280px;
        display: flex;
        flex-flow: wrap row;
        justify-content:space-around;
        padding: 25px 10px 10px 10px;
        border-radius: 2px; 
        background-color: grey;
        text-align: center;

      }

      input { 
        width: 100%;
        height: 30px;
        padding-bottom: 10px;

      }
      .screen2 {
          width: 300px;
          height: 40px;
          background-color: white;
          border-bottom: black;
          justify-content: flex-end;
          font-size: 33px;
          font-family: sans-serif;  
          font-weight: bold;
          text-align: right;
          border-bottom:black;
      }
      .item {
          display:flex;
          justify-content: center;
          justify-content: space-between;
          height: 35px;
          width: 55px;
          flex-wrap: row;
          font-size: 23px;
          text-align: center;
          color:black;
      }

      #zero {
          width: 124px;
          font-size: 20px;
          text-shadow: #333131d8;

      }
      .todo { 

      }

      

      h1 {
        padding-bottom: -50px;
      }
  
      p {
          font-size: 2em;
          margin: 90px;
      }
      
      .pfont { 
        font-size: 35px;
        padding-bottom: 200px;
        padding-top: 20px;
        
      }

      a {
          text-align: left;
          font-size: 1em;
         font-family: 'Lato', sans-serif;
          text-decoration: none;
          color: black;
        
          
      }

      h2 { 
          font-family: Arial, Helvetica, sans-serif;
          padding-right: 20px;
          
      }

      h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        width: 80%;
        height: 30px; 
      }

      ul {
          color: black;
      }

      
      button {
          color: grey;
          font-size: 1em;
          color:black;
          box-shadow: 1px 1px 0 grey;
        
      }

      .result {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 20px 10px;
          grid-column: span 4;
          background-color: lightgrey;
          border-bottom: solid 1px grey;
          font-size: 2em;

      }

      .grid {
          display:grid;
          grid-gap:10px;
          grid-template: auto / repeat(4, 1fr)
      }

      .btn-lg {
          grid-column: span 3;
      }
      
      .grid-container {
        display: grid;
        grid-template-columns: 1/4;
        grid-template-rows: 12px;
        background-color: rgb(3, 73, 131);
        padding: 2px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;    
        text-align: center;
      }
      
      .month { 
        background-color: white;
        font-size: 45px;
        border-bottom: solid 2px black;
      }
      .calendar { 
          display:grid;
          display: inline;
          color: black;
          background-color: white;
          grid-gap:0px;
          width: 100%;
      }

      .days {
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-flow: dense;
        grid-gap: 2px 5px;
        background-color: white;
        font-weight: bold;
        font-size: 12px;
        border-bottom: black;
        text-transform: uppercase;
        width: 100%;

      }

      .dates {
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-flow: dense;
        grid-gap: 2px 10px;
        background-color: pink;
        border-bottom: bold 3px black;
        justify-content: space-around;
        padding: 10px 2px 2px;
        width: 100%;
    

      }

      .one {
        background-color:black;
        color: red;
      }

      .game { 
       padding-top: 20px;
      }
      
      .polo  { 
        background-color: white;
        text-align: center;
      }
      

      @media (max-width: 576px) {
        .container {
          grid-template-columns: 1fr;
          grid-template-areas: 
            "nav"
            "aside"
            "main"
            ;
        
        }
        .grid {
          display:grid;
       
          grid-template: auto / repeat(1fr)
      }

        nav {
          width:100%;
     
        }
        .geolocation { 
          width: 100%;
        }
      
        #button-location { 
          padding-left: 20px;
        }

      
        

        .clock { 
          align-content: center;
          align-self: center;
        }
    
        main { 
          background-color:red;

          width: 575px;
          height: 700px;
          
        }

        main p {
          font-size: 22px;
        }

        .calculator {
          width: 200px;
      
        }

        .days {
          width: 2px;
          font-size:14px;
        }
      }



      @media (min-width: 700px) {
        .container {
          grid-template-columns: 1fr 4fr 1fr;
          grid-template-areas: 
            "header header  header"
            "nav    main    aside"
            "nav    main    banner"
            "footer footer  footer"
         }
         nav ul {
           flex-direction: column;
         }
      }